<h1> <%= @team.team_name %> </h1>
<ul>
  <% @users.each do |user| %>
    <li><%= user.name %> <%= user.id %></li>
  <% end %>
</ul>
<h2> Comments </h2>
<ul>
  <% @comments.each do |comment| %>
    
    <li> 
    Project Name <%= comment.project.name %>
    User <%= comment.to_user %> 
    From <%= comment.from_user %> 
    Score <%= comment.score %> 
    Comments <%= comment.content %>
    
    </li>
  <% end %>
</ul>